<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
    <listeners>
        <listener class-name="com.github.davejoyce.testng.TestNameLogger" />
    </listeners>

    <test name="All Tests">
        <packages>
            <package name="com.github.davejoyce.calendar.*" />
        </packages>
    </test>
</suite>
