name: "Maven"

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: "adopt"
      - name: Build with Maven
        run: mvn -B --update-snapshots verify
